/********************************************************************/
/************************** LOGIN & SIGNUP **************************/
/********************************************************************/
.login-container,
.signup-container {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.login,
.signup {
  display: flex;
  flex-direction: column;
  width: 275px;

  button {
    background-color: #ed171e;
    color: white;
    border: white solid 1px;
    border-radius: 5px;
    padding: 10px 20px;
    height: 45px;
    border: none;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
  }

  input {
    border: none;
    border-bottom: 1px solid #fcced3;
    height: 35px;
    margin-bottom: 20px;
    background-color: white;
    outline: none;
    font-size: 16px;
    padding: 20px;
    border-radius: 5px;
  }

  ::placeholder {
    color: #4747475a;
  }
}

.redirection-signup,
.redirection-login {
  text-decoration: none;
  /* color: #ed171e; */
  font-size: 18px;
  margin-bottom: 10px;
}

.connexion {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/***********************************************************/
/************************** MODAL **************************/
/***********************************************************/
.App {
  position: relative;
}

.modal-root {
  /* Pour que la modal prenne tout l'écran : */
  /* position: absolute; */
  position: fixed;
  height: 100vh;
  width: 100vw;
  /* Pour placer la modal tout en haut à gauche une fois en position relative */
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Mettre un background noir et transparent : */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.modal {
  width: 450px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  gap: 60px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(199, 201, 225, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  h2 {
    font-size: 35px;
    color: white;
  }
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 3px solid #ab089b;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}
