.favorites-container {
  max-width: 1500px;
  margin: 0px auto 80px;
}

.character-comic-carousel {
  display: flex;
  gap: 40px;
  overflow: scroll;
  scrollbar-width: none;
  margin: 0 -70px 60px 20px;
}

.fav-img-container-wrap {
  width: 300px;
  flex-shrink: 0;
}

.fav-img-container {
  width: 100%;
  height: 350px;
  margin-bottom: 10px;
  position: relative;
}

.fav-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.fav-comic-character-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.fav-img-container-wrap p {
  margin-bottom: 10px;
  font-size: 14px;
}

.carousel-section {
  margin-bottom: 40px;
}

.carousel-title {
  font-size: 24px;
  margin-bottom: 20px;
}
