/********************************************************************/
/************************** CHARACTERS **************************/
/********************************************************************/

.characters-container,
.comics-container {
  max-width: 1500px;
  margin: 0 auto;
}

.all-characters,
.all-comics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto 70px;
  gap: 30px;
}

.all-characters:hover > :not(:hover),
.all-comics:hover > :not(:hover) {
  opacity: 0.4;
}

.one-character,
.one-comic {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: calc(1380px / 5);
  height: 400px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px,
    inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  overflow: hidden;
  cursor: pointer;
  /* transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95); */
  transition: 1s ease-in-out;
}

.one-character::before,
.one-comic::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  backdrop-filter: blur(2px);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.one-character:hover::before,
.one-comic:hover::before {
  opacity: 1;
}

.one-character:hover .character-pic-container,
.one-comic:hover .comic-pic-container {
  opacity: 0.8;
  /* transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1); */
  transition: 0.6s ease;
}

.character-pic-container,
.comic-pic-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95); */
  transition: 1s ease-in-out;
}

.character-pic-container img,
.comic-pic-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.characters-name,
.comics-name {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  z-index: 1;
  /* transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1); */
  /* transition: bottom 0.6s ease, top 0.6s ease; */
  /* transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1); */
  transition: all 0.8s ease;
  width: 200px;
}

.character-description,
.comic-description {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  font-size: 18px;
  color: #fff;
  opacity: 0;
  transform: translateY(10px);
  /* transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1); */
  transition: all 0.8s ease;
  z-index: 1;
  line-height: 1.4;
  pointer-events: none; /* Empêche l'interaction avec la description */

  /* truncate la description si elle est trop longue */
  display: -webkit-box;
  -webkit-line-clamp: 11;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.one-character:hover .character-description,
.one-comic:hover .comic-description {
  opacity: 1;
  transform: translateY(0);
}

.one-character:hover .characters-name,
.one-comic:hover .comics-name {
  bottom: auto;
  top: 20px;
  transform: translateY(-5px);
  opacity: 1;
  /* transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1); */
  /* transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1); */
  transition: all 0.8s ease;
}

.favorite-btn {
  position: absolute;
  top: 15px;
  right: 10px;
  background: none;
  border: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.1s ease;
}

.fav-added {
  color: #ff4136;
}

.favorite-btn:active {
  /* Agrandit le bouton lors du clic */
  transform: scale(1.2);
}

.pagination,
.limit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.pagination-button.active,
.limit button.active {
  background-color: #e3d35b;
  color: white;
  border-color: #e3d35b;
}

.limit span {
  margin-right: 10px;
}

.limit button,
.pagination-button {
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 20px;
  border-style: none;
}

.limit button:hover,
.pagination-button:hover {
  background-color: #e3d35b;
  color: white;
}

.search {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 40px 0 15px;
  width: 60%;
}

.search-container {
  display: flex;
  justify-content: center;
}

.search svg {
  margin-right: 10px;
}

.search input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
}

.search input::placeholder {
  color: #bbbbbb;
}

.filters-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

/********************************************************************/
/************************** CHARACTER **************************/
/********************************************************************/
.character-container,
.comic-container {
  max-width: 1500px;
  margin: 0 auto;
}

.character-name,
.comic-name {
  font-size: 7em;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  background-clip: text;
  font-weight: bold;
  -webkit-text-stroke: 2px rgb(17, 16, 16);
  margin-top: 80px;
}

.credit-card-container {
  width: 400px;
  height: 250px;
  perspective: 1000px;
  margin: 30px auto;
}

.card-content {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  /* conserve le style en 3D */
  transform-style: preserve-3d;
  /* border: 1px solid #000; */
}

.credit-card-container:hover .card-content {
  /* retourner la carte au survol */
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-back {
  background-color: #999999;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.card-image {
  width: 400px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

/* .card-name {
  font-size: 1.5em;
} */

.card-description {
  padding: 20px;
  text-align: justify;
  line-height: 1.3;
  /* margin-bottom: 20px; */
}

.card-footer {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* justify-content: space-between; */
  /* padding: 30px 0 0 0; */
}

.card-id {
  font-size: 0.8em;
  opacity: 0.7;
}

.carousel-title {
  margin: 80px 0 50px 30px;
  font-size: 35px;
}

.carousel-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 300px;
  justify-items: stretch;
  margin-bottom: 80px;
}

.each-character-comic {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  gap: 20px;
  align-items: center;
  margin: 0 20px;

  h2 {
    margin-top: 10px;
    height: 80px;
  }

  p {
    text-align: justify;
  }
}

.comic-img-each-character-container {
  width: 100%;
  height: 400px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
  }
}
