/***********************************************************/
/************************** IMPORT **************************/
/***********************************************************/
@import "./pages/personnage/Personnages.css";
@import "./pages/comic/Comics.css";
@import "./pages/auth/Auth.css";

/***********************************************************/
/************************** GLOBAL **************************/
/***********************************************************/
#root {
  font-family: "Marvel", sans-serif;
}

body,
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

a,
button {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.bold {
  font-weight: 700;
}

.hidden {
  display: none;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

.min-width {
  min-width: 1500px;
}

.no-results {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: #666;
  width: 100%;
  min-width: 800px;
}

/***********************************************************/
/************************** HEADER **************************/
/***********************************************************/
.logo {
  width: 200px;
  margin-top: 30px;
  margin-bottom: 25px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ed171f;
  font-weight: 700;
  /* width: 100%; */
}

.navLinks {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-direction: row-reverse;
  /* margin-bottom: 20px; */
  padding-bottom: 10px;
}

.main-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 120px;
  justify-content: center;
  align-items: center;

  a {
    color: white;
    font-size: 20px;
  }
}

nav a:hover {
  color: black;
  /* text-decoration: underline; */
  transition: 0.3s;
}

.link-user-login {
  width: 40px;
}

.connexion {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  margin-top: -30px;
  color: white;
}

/***********************************************************/
/************************** FOOTER **************************/
/***********************************************************/
.footer-container {
  background-color: #000000;
  color: white;
  /* margin: 0 auto; */
}

.footer {
  padding: 30px;
  margin: 20px 20px 0;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

/***********************************************************/
/************************** LOADING **************************/
/***********************************************************/
.loading-container {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  img {
    width: 100px;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  animation: rotating 0.8s linear infinite;
}

/***********************************************************/
/************************** SCROLLTOTOP ********************/
/***********************************************************/

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: white;
  color: black;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
